*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #13315c;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90px;
}
footer{
  color: white;
}
.nav,footer{
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
    background-color: #13315c;
}
.nav-logo p{
    color: #eef4ed;
    font-size: 25px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #eef4ed;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #eef4ed;
}
.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}

.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn{
    display: none;
}


html {
  box-sizing: border-box;
}


.column {
  float: left;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  background-color:#eef4ed;
  width: 300px;
  margin-left: 25px;
  margin-right: 10px;
  offset: px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #eef4ed;
  font-size: 15px;
  color: black;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.row {
  display: flex;
  justify-content: center;
}



@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}